USE [master]
GO
/****** Object:  Database [CountryManagement]    Script Date: 11-Jul-16 10:45:59 PM ******/
CREATE DATABASE [CountryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountryManagement', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CountryManagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CountryManagement_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CountryManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountryManagement]
GO
/****** Object:  Table [dbo].[City]    Script Date: 11-Jul-16 10:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](100) NOT NULL,
	[CityName] [varchar](100) NOT NULL,
	[CityAbout] [varchar](1000) NULL,
	[NoOfDwellers] [bigint] NULL,
	[Weather] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 11-Jul-16 10:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[CountryName] [varchar](100) NOT NULL,
	[CountryAbout] [varchar](1000) NULL,
	[TotalCity] [int] NULL,
	[TotalDwellers] [bigint] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[CitiesViewModel]    Script Date: 11-Jul-16 10:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CitiesViewModel]
AS
SELECT Ci.CityName , Ci.CityAbout, Ci.NoOfDwellers,Ci.Location,Ci.Weather,Co.CountryName,Co.CountryAbout from City Ci 
JOIN Country Co 
ON Ci.Country=Co.CountryName
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Country], [CityName], [CityAbout], [NoOfDwellers], [Weather], [Location]) VALUES (3022, N'Bangladesh', N'Dhaka', N'Dhaka About<br>', 10, N'Hot', N'Middle')
INSERT [dbo].[City] ([Id], [Country], [CityName], [CityAbout], [NoOfDwellers], [Weather], [Location]) VALUES (3023, N'Bangladesh', N'Comilla', N'Comilla About<br>', 12, N'Worm', N'South')
INSERT [dbo].[City] ([Id], [Country], [CityName], [CityAbout], [NoOfDwellers], [Weather], [Location]) VALUES (3024, N'Bangladesh', N'Rangpur', N'RangpurAbout<br>', 8, N'Sunnny', N'North')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [CountryName], [CountryAbout], [TotalCity], [TotalDwellers]) VALUES (5134, N'Bangladesh', N'About Bangladesh<br>', 3, 30)
INSERT [dbo].[Country] ([Id], [CountryName], [CountryAbout], [TotalCity], [TotalDwellers]) VALUES (5135, N'Australia', N'About Australia<br>', 2, 1232)
INSERT [dbo].[Country] ([Id], [CountryName], [CountryAbout], [TotalCity], [TotalDwellers]) VALUES (5136, N'London', N'About London <br>', 3, 16)
SET IDENTITY_INSERT [dbo].[Country] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_City]    Script Date: 11-Jul-16 10:45:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_City] ON [dbo].[City]
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Country]    Script Date: 11-Jul-16 10:45:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Country] ON [dbo].[Country]
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
