USE [master]
GO
/****** Object:  Database [ProductStoreDB]    Script Date: 20-Jun-16 4:20:56 PM ******/
CREATE DATABASE [ProductStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductStoreDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProductStoreDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProductStoreDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProductStoreDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductStoreDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20-Jun-16 4:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Code], [Description], [Quantity]) VALUES (100, N'M-101', N'Mango', 40)
INSERT [dbo].[Product] ([Id], [Code], [Description], [Quantity]) VALUES (101, N'O-101', N'Orange', 20)
INSERT [dbo].[Product] ([Id], [Code], [Description], [Quantity]) VALUES (1101, N'N-1001', N'Noduls', 10)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Product]    Script Date: 20-Jun-16 4:20:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Product] ON [dbo].[Product]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
